@media only screen and (max-width: 950px){
  .wraper{
    grid-template-columns: repeat(2, 1ft);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "header header"
      "section section"
      "main main"
      "main main"
      "asideOne asideTwo"
      "footer footer";
  }
  #two{
    height: 110px;
    //s padding-om bude 140
  }
}

@media only screen and (max-width: 830px){
  header {
    position: relative;
    #buttonArea {
      #hamburger{
      display: flex;
     }
      nav{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 10%;
        right: 0;
        z-index: 1;
        a{
          display: block;
          li br{
            display: block;
          }
        }
      }
    }
  }
}
