@import "_variables";

html, *{
  margin: 0;
  font-family: verdana;
}
body{
  background: url("../img/wall_pattern2.png"), $glavna;
}

.wraper{
  margin: 0 auto;
  min-width: 440px;
  display: grid;
  grid-template-columns: repeat(3, 1ft);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "header header header"
    "section section section"
    "asideOne main main"
    "asideTwo main main"
    "footer footer footer";
}

header{
  grid-area: header;
}
section{
  grid-area: section;
}
main{
  grid-area: main;
}
aside #one{
  grid-area: asideOne;
}
aside #two{
  grid-area: asideTwo;
}
footer{
  grid-area: footer;
  background: url("../img/wall_pattern2.png"), linear-gradient(10deg, grey,$glavna);
}
